.info td {
  border: 0;
}

table {
border-collapse: collapse;
}

table, th, td {
border: 1px solid #a6a6a6 !important;
text-align: center;
align-self:center;
padding: 15px;
}

th {
background-color: #4CAF50;
color: white;
}
