{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" crossorigin="anonymous">



</head>
<body id="page-top">

     <main role="main" class="container">
         <center>
         <h1> Resulter - Set Your Password </h1>
         </center>
         <div class="jumbotron">


             <div class="row" style="margin-left:10px">
         {% if validlink %}
            <p>Please enter your new password twice.<br />
               So we can verify you typed it in correctly.</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form|crispy }}
                <center>
                <button class="btn btn-success" type="submit">Set Password</button>
                </center>

            </form>
         {% else %}
            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, <br />
            possibly because it has already been used. <br />
            Please request a new password reset.</p>
         {% endif %}
         </div>


         </div>

</main>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>


</body>
</html>
