{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'teacher/main.css' %}">

    {% block css %}{% endblock css %}

    {% if title %}
        <title>Resulter - {{ title }}</title>
    {% else %}
        <title>Resulter</title>
    {% endif %}
</head>
<body>

    <main role="main" class="container">

        <a href="{% url 'logout_page' %}">
         <button class='btn btn-warning pull-right' style="margin-right:30px">
             Logout
               </button>
             </a>

        <a href="{% url 'teacher_home' %}">
         <button class='btn btn-success pull-right' style="margin-right:10px">
             Home
               </button>
             </a>

      <h1> Teacher's Section </h1>

      <div class="row">

          {% block content %}{% endblock %}


      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src=
   "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
     </script>



    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
